<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuniTeens</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/group.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>
    <nav>
        <div class="name">
            <a href="">
                <h1>CommuniTeens</h1>
            </a>
        </div>
        <div class="navToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="subheadings">
            <a href="/dashboard">Dashboard</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/groups">Groups</a>
            <a href="/account">Account</a>
        </div>
    </nav>
    <div class="group">
        <div class="top">
            <img src="/images/group<%=groupID%>.jpg" alt="">
            <div class="information">
                <h1>
                    <%=groupName%>
                </h1>
                <h2>
                    <%=members.length%> Members
                </h2>
                <% if (!inGroup) { %>
                    <a href="" class="request">Request To Join</a>
                <%}%>
            </div>
        </div>
    </div>

    <div class="extraInformation">
        <div class="sections">
            <div class="options">
                <a href="#" class="active" data-selector="events">Upcoming Events</a>
                <a href="#" data-selector="contact">Contact</a>
                <a href="#" data-selector="members">Members</a>
            </div>
        </div>
        <div class="events activeSection">
            <% if (events.length > 0) { %>
                <% events.forEach((event)=> { %>
                    <div class="event" onclick="window.location.href = '/event/<%=event.ID%>'">
                        <div class="date">
                            <h1 class="month">
                                <%= new Date(event.date).toLocaleString('en-US', { month: 'short' }).toUpperCase() %>
                            </h1>
                            <h1 class="day">
                                <%= new Date(event.date).getDate() %>
                            </h1>
                        </div>
                        <div class="otherInfo">
                            <h1 class="name">
                                <%= event.name %>
                            </h1>
                            <h2 class="company"><%=event.company%></h2>
                            <h2 class="location"><%=event.address%></h2>
                        </div>
                    </div>
                <% })} else { %>
                    <h1 class="noEvents">No Upcoming Events</h1>
                <% } %>
        </div>
        <div class="contact">
            <h1>Email: <%= groupEmail%></h1>
        </div>
        <div class="members">
            <% members.forEach((member) => { %>
                <div class="member">
                    <span><%= `${member.firstName[0]+member.lastName[0]}` %></span>
                    <h1><%=`${member.firstName+" "+member.lastName}` %></h1>
                </div>
            <% }) %>
            
        </div>
    </div>
    <script src="/scripts/group.js"></script>
    <script src="/scripts/nav.js"></script>

</body>

</html>